.signIn{
    font-weight: bold !important;
    margin-right: 24px !important;
}

.signOut{
    margin-right: 24px !important;
    font-weight: bold !important;
}

.ui.secondary.menu {
    background-color: #e0e0e0;
    height: 55px !important;
    margin-bottom: 0px !important;
  }